<mat-card class="text-center">
  <div *ngIf="product">
    <img class="mb-1 mx-auto h-[200px]" src="{{product.image}}">
    <div class="w-full">
      <div>
        <h5 style="font-weight: bold;">{{product.title}}</h5>
        <p class="truncate hover:whitespace-normal">{{product.description}}</p>
      </div>
      <div class="flex justify-between" style="align-items: center;">
        <span class="text-black-500" style="font-size: 20px;font-weight: bold;">{{ product.price | currency: 'EUR'}}</span>
        <button (click)="addToCart()" mat-raised-button style="background-color: gray;color: white;"><mat-icon>shopping_basket</mat-icon></button>
      </div>
    </div>
  </div>
</mat-card>
