<mat-toolbar class="max-w-full mx-auto justify-between text-white" style="background-color: gray;">
  <a routerLink="home">Store App</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]="productsQuanitity" matBadgeColor="warn">shopping_basket</mat-icon>
  </button>
  <mat-menu #menu>
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-betweem">
        <span class="mr-16">{{productsQuanitity}} items</span>
        <a routerLink="cart">View cart</a>
      </div>
      <div *ngIf="cart.products.length" class="py-3">
        <div class="flex justify-between font-light mb-2" *ngFor="let i of cart.products">
          {{i.name}} x {{i.quantity}}
          <span class="font-bold">{{ i.price| currency: 'EUR'}}</span>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total: <span class="font-bold">{{ getTotal(cart.products) | currency: 'EUR'}}</span>
      </div>
      <div class="flex justify-between">
        <button mat-raised-button (click)="clearShoppingCart()" style="margin-top: 15px; right: 0px; background-color: red; color: white;"><mat-icon>remove_shopping_cart</mat-icon></button>
        <button mat-raised-button routerLink="/cart" style="margin-top: 15px; right: 0px; background-color: green; color: white;"><mat-icon>shopping_basket</mat-icon></button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
