<mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    Categories
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let i of categories">
      <span (click)="changeCategory(i)">{{i}}</span>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
