<mat-card class="mb-4">
  <div class="justify-between flex">
    <div>
      <button mat-raised-button [matMenuTriggerFor]="sortingMenu" style="background-color: gray; color: white;">Sort by {{sorting}}</button>
    </div>
    <mat-menu #sortingMenu>
      <button mat-menu-item (click)="updateSort('desc')">desc</button>
      <button mat-menu-item (click)="updateSort('asc')">asc</button>
      <button mat-menu-item (click)="updateSort('price-asc')">price-asc <mat-icon>keyboard_arrow_up</mat-icon></button>
      <button mat-menu-item (click)="updateSort('price-desc')">price-desc <mat-icon>keyboard_arrow_down</mat-icon></button>
    </mat-menu>
    <div class="flex items-center">
      <button mat-raised-button [matMenuTriggerFor]="menu" style="background-color: gray; color: white;">Showing {{noOfProducts}} products
        <mat-icon>expand_more</mat-icon></button>
      <mat-menu #menu >
        <button mat-menu-item (click)="updateNoOfProducts(10)">Show 10 products</button>
        <button mat-menu-item (click)="updateNoOfProducts(20)">Show 20 products</button>
      </mat-menu>
      <div class="px-3">
        <button (click)="updateColumns(1)">
          <mat-icon>view_list</mat-icon>
        </button>
        <button (click)="updateColumns(3)">
          <mat-icon>view_module</mat-icon>
        </button>
        <button (click)="updateColumns(4)">
          <mat-icon>view_comfy</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
