<mat-drawer-container [autosize]="true" class="min-h-full max-w-full mx-auto" style="justify-content: space-between;">
  <mat-drawer mode="side" opened class="p-6">
    <app-filter (category)="changeCategory($event)"></app-filter>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header (sortingType)="sortingUpdate($event)" (productCount)="countUpdate($event)" (columnsCount)="columnsCount($event)"></app-products-header>
    <mat-grid-list gutterSize="16" [cols]="noOfColumns" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let i of products">
        <app-products [product]="i" (emitToCart)="addToCart($event)"></app-products>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
