<mat-card *ngIf="cart.products.length">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef><b>Product</b></th>
      <td mat-cell *matCellDef="let i">
        <img src="{{i.image}}" alt="image" class="w-[100px] my-5">
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button routerLink="/home" color="primary">Continue shopping!</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><b>Name</b></th>
      <td mat-cell *matCellDef="let i">
        <p class="truncate max-w-xs block">{{i.name}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef><b>Price</b></th>
      <td mat-cell *matCellDef="let i">
        <p class="truncate max-w-xs">{{i.price | currency: 'EUR'}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef><b>Quantity</b></th>
      <td mat-cell *matCellDef="let i">
        <button (click)="removeQuantity(i)" mat-icon-button><mat-icon>remove</mat-icon></button>
        <span>{{i.quantity}}</span>
        <button (click)="addQuantity(i)" mat-icon-button><mat-icon>add</mat-icon></button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef><b>Total</b></th>
      <td mat-cell *matCellDef="let i">{{ (i.price * i.quantity) | currency: 'EUR'}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="font-bold py-5 block">{{ getTotal(cart.products) | currency: 'EUR'}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="warn" class="float-right" (click)="clearCart()">Clear cart</button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="removeFromCart(element)" mat-raised-button color="warn" class="float-right">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button (click)="onCheckout()" class="float-right" color="primary">Procced to checkout</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="tableColumns"></tr>
  </table>
</mat-card>

<mat-card *ngIf="!cart.products.length" style="text-align: center;">
  <h3>Your shopping cart is empty!</h3>
  <button mat-raised-button routerLink="/home">Back to shopping!</button>
</mat-card>
