@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}


.mat-grid-tile-content{
  justify-content: start !important;
  display: inline-block !important;
}

.mat-drawer-content {
  background-color: lightgray !important;
}

.mat-drawer.mat-drawer-side{
  background-color: lightgray !important;
}

.mat-expansion-panel-header{
  background-color: gray !important;
  color: white;
}

.mat-card {
  background-color: whitesmoke !important;
  border: 2px solid gray;
}
